.carousel-main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-container {
	background: white;
	border-radius: 8px;
	max-width: 930px;
	overflow: hidden;
	position: relative;
	z-index: 4;
	display: flex;
	/* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
	/* padding: 8px; */
	box-sizing: border-box;
	border: 1px solid #dad0ec;
}

.carousel-image {
	width: 100%;
	object-fit: cover;
	height: 250px;
	-webkit-transition: transform 0.2s ease;
    transition: transform 0.2s ease;
}

.carousel-button-left, .carousel-button-right {
	position: absolute;
	background: white;
	border: none;
	padding: 16px 8px;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 5;
}

.carousel-button-left {
	top: calc(50% - 16px);
	left: 0;
	border-radius: 0 4px 4px 0;
	box-shadow: 2px 0 3px rgba(0, 0, 0, 0.2);
}

.carousel-button-right {
	top: calc(50% - 16px);
	right: 0;
	border-radius: 4px 0 0 4px;
	box-shadow: -2px 0 3px rgba(0, 0, 0, 0.2);
}

.carousel-image-indicators {
	display: flex;
	width: 100%;
	position: absolute;
	bottom: 0;
	padding: 4px;
	box-sizing: border-box;
	gap: 8px;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.carousel-image-indicator, .carousel-current-indicator {
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
}

.carousel-current-indicator {
	background: white;
}